.directed{
  margin: 2rem;
  background-color:rgb(233, 248, 147)
}

.notdirected{
  margin: 2rem;
  background-color:rgb(245, 229, 91)
}

.accordion-field{
  margin-top: 2rem;
}

.accordion-field{
  margin-top: 2rem;
}

.search-accordion-field{
  margin-top: 2rem;
}

.input {
  margin: 0 2rem;
}



