<div>
  <div class="m-5">
    <span>Record a new blood donation place</span>
  </div>
  <form class="m-5" [formGroup]="form" (submit)="onSaveNewPlace()">
    <div class="form-group mt-2">
      <label >Place name</label>
      <input type="text" class="form-control" formControlName="name" maxlength="50" placeholder="Enter the place name" required>
      <span class="text-danger" *ngIf="form.get('name').invalid && form.get('name').value.length > 0">Please enter the place name (minimum 3, maximum 50 character)</span>
    </div>
    <div class="form-group mt-2">
      <label>Postcode</label>
      <input type="number" class="form-control" formControlName="postcode"  placeholder="Enter the postcode" required>
    </div>
    <div class="form-group mt-2">
      <label>Town name</label>
      <input type="text" class="form-control" formControlName="town"  placeholder="Enter the town name" required>
    </div>
    <div class="form-group mt-2">
      <label>Address name</label>
      <input type="text" class="form-control" formControlName="address"  placeholder="Enter the address" required>
    </div>
    <div class="form-check mt-3">
      <input type="checkbox" formControlName="active" class="form-check-input" (change)="checkedActive = !checkedActive">
      <label class="form-check-label">If the place is <strong>active</strong> check me in</label>
    </div>
    <button type="submit" [ngClass]="form.invalid ? 'btn-secondary':'btn-danger'" class="btn btn-secondary mt-2">Submit</button>
  </form>
</div>
