mat-form-field,
textarea,
mat-radio-group,
mat-select{
  margin-top: 1rem;
  width: 100%;
}

.mat-raised-button{
  margin-top: 2rem;
}

.formated-card{
  max-width: 300px;
  margin-bottom: 50px;
  float: left;
}
