<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand m-2" routerLink="">BloodyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/places" routerLinkActive="active">Places</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newplace" routerLinkActive="active">New Place</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newdonor" routerLinkActive="active">New Donor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newdonation" routerLinkActive="active">New Donation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="donations" routerLinkActive="active">Success donations</a>
      </li>
    </ul>
  </div>
</nav>
