<div>
  <div class="m-5">
    <span>Record a new donor</span>
  </div>
  <form class="m-5" [formGroup]="form" (submit)="onSaveNewDonor()">
    <div class="form-group mt-2">
      <label >Name</label>
      <input type="text" class="form-control" formControlName="name" maxlength="50" placeholder="Enter your name" required>
      <span class="text-danger" *ngIf="form.get('name').invalid && form.get('name').value.length > 0">Please enter your name (minimum 5, maximum 50 character)</span>
    </div>
    <div class="form-group mt-2">
      <label>Taj Code</label>
      <input type="text" class="form-control" formControlName="taj_code"  placeholder="Enter your taj code">
      <span class="text-danger" *ngIf="form.get('taj_code').invalid && form.get('taj_code').value.length > 0">Please enter your taj_code correctly</span>
    </div>
    <div class="form-group mt-2">
      <label>Sex</label>
      <select class="form-control" formControlName="sex">
        <option value="" disabled selected>Select your option</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <span class="text-danger" *ngIf="form.get('sex').invalid && form.get('sex').value.length > 0">Please enter your sex</span>
    </div>
    <div class="form-group mt-2">
      <label>Nationality</label>
      <input type="text" class="form-control" formControlName="nationality"  placeholder="Enter your nationality" >
      <span class="text-danger" *ngIf="form.get('nationality').invalid && form.get('nationality').value.length > 0">Please enter your nationality (minimum 3, maximum 50 character)</span>
    </div>
    <div class="form-group mt-2">
      <label>Birth place</label>
      <input type="text" class="form-control" formControlName="birth_place"  placeholder="Enter the birth place">
      <span class="text-danger" *ngIf="form.get('birth_place').invalid && form.get('birth_place').value.length > 0">Please enter your birth place(minimum 3, maximum 50 character)</span>
    </div>
    <div class="form-group mt-2">
      <label>Birth time</label>
      <input type="date" class="form-control" formControlName="birth_time"  placeholder="Enter the birth time">
      <span class="text-danger" *ngIf="form.get('birth_time').invalid && form.get('birth_time').value.length > 0">Please enter your birth time correctly</span>
    </div>
    <div class="form-group mt-2">
      <label>Postcode</label>
      <input type="number" class="form-control" formControlName="postcode"  placeholder="Enter the postcode">
      <span class="text-danger" *ngIf="form.get('postcode').invalid && form.get('postcode').value.length > 0">Please enter your postcode</span>
    </div>
    <div class="form-group mt-2">
      <label>Town</label>
      <input type="text" class="form-control" formControlName="town"  placeholder="Enter the town name">
      <span class="text-danger" *ngIf="form.get('town').invalid && form.get('town').value.length > 0">Please enter your town</span>
    </div>
    <div class="form-group mt-2">
      <label>Address</label>
      <input type="text" class="form-control" formControlName="address"  placeholder="Enter the address">
      <span class="text-danger" *ngIf="form.get('address').invalid && form.get('address').value.length > 0">Please enter your address</span>
    </div>
    <button type="submit" [ngClass]="form.invalid ? 'btn-secondary':'btn-danger'" class="btn btn-secondary mt-3">Submit</button>
  </form>
</div>
