<ngb-accordion
  #acc="ngbAccordion"
  *ngFor="let elements of donationPlaceElements"
  class="accordion-item"
>
  <ngb-panel title="{{ elements.name }}" >
    <ng-template ngbPanelContent  >
      <div [ngClass]="elements.active ? 'bg-light':'bg-warning'" class="place-elements">
        <p><strong>Place Id: </strong> {{ elements.place_id}}</p>
        <p><strong>Postcode: </strong> {{ elements.postcode }}</p>
        <p><strong>Town: </strong> {{ elements.town }}</p>
        <p><strong>Address: </strong> {{ elements.address }}</p>
        <p>
          <strong>Active: </strong>
          <button (click)="onActiveStatusChange(elements)" type="button" class="btn btn-primary">
            {{ elements.active }}
          </button>
        </p>
        <button type="button" class="btn btn-danger" (click)="onDelete(elements.place_id.toString())">Delete</button>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
