<mat-toolbar color="primary">
  <span> <a routerLink="">MyShelf App</a></span>
  <ul>
    <li >
      <a mat-button routerLink="/donationplaces" routerLinkActive="mat-accent">Donation Places</a>
    </li>
    <li >
      <a mat-button routerLink="/newdonationplaces" routerLinkActive="mat-accent">New Donation Place</a>
    </li>
    <li >
      <a mat-button routerLink="/createnewdonor" routerLinkActive="mat-accent">New Donor</a>
    </li>
    <li >
      <a mat-button routerLink="/newdonation" routerLinkActive="mat-accent">Create Donation</a>
    </li>
    <li >
      <a mat-button routerLink="/donations" routerLinkActive="mat-accent">Donations</a>
    </li>
    <li >
      <!--<button mat-button (click)="onLogout()">Logout</button>-->
    </li>
  </ul>
  <span class="spacer"></span>
</mat-toolbar>
