<div *ngFor="let element of donationPlaceElements">
<mat-card [ngClass]="element.active ? 'place-active':'place-inactive'"  >
  <mat-card-title >{{element.name}}</mat-card-title>
  <mat-card-content>
    <p>Postcode: {{element.postcode}}</p>
    <p>Town: {{element.town}}</p>
    <p>Address: {{element.address}}</p>
  </mat-card-content>
  <mat-card-actions>
    <p>Set the place status:
      <button (click)="onActiveStatusChange(element)" mat-raised-button [color]="element.active ? 'primary' : 'warn'">
      {{ element.active }}
    </button></p>
  </mat-card-actions>
</mat-card>
</div>
